*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 2050px;
    height: 1080px;
    background-color: #ECEEF1;
}
header{
    display: flex;
    width: 2050px;
    height: 80px;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}
header .text{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
header .signBtn{
    width: 113px;
    height: 37px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2050px;
    height: 880px;
}
main .intuit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2050px;
    height: 130px;
}
main .head{
    height: 56px;
}
main .otherProd{
    height: 44px;;
}
form{
    width: 400px;
    height: 700px;
    border: 1px solid rgb(165, 165, 165);
    background-color:white;
    margin-bottom: 30px;
}
form .about{
    height: 135px;
}
form .account-info{
    height: 290px;
}
form .account-action{
    height: 50px;
}
form .info{
    height: 105px;
}
form .form_footer{
    height: 56px;
}
main .main_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 2050px;
}
main .links{
    height: 12px;
    font-size: 15px;
    margin-bottom: 12px;
}
main .copyright{
    height: 32px;
    width: 870px;
    text-align: center;
}
footer{
    display: flex;
    width: 2050px;
    height: 60px;
}