*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
};
.container{
    display: flex;
    width: 1835px;
    height: 980px;
}
header{
    display: flex;
    width: 1835px;
    height: 80px;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}
header .text{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
header .signBtn{
    width: 113px;
    height: 37px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1835px;
    height: 880px;
}
main .intuit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1835px;
    height: 100px;
}
form{
    width: 380px;
    height: 635px;
}
form .about{
    height: 135px;
}
form .account-info{
    height: 290px;
}
form .account-action{
    height: 50px;
}
form .info{
    height: 105px;
}
form .form_footer{
    height: 56px;
}
main .main_footer{
   height: 150px; 
   width: 1835px;
}
footer{
    display: flex;
    width: 1835px;
    height: 80px;
}